.git
node_modules
vendor
.env
.env.testing
storage/*.key
public/storage
public/hot
atests/
coverage/
*.log
Dockerfile*
docker-compose*.yml
.dockerignore
.gitignore
.gitattributes
README.md
vendor/
node_modules/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
